.selectbar-list {
  padding: 0;

  background-color: #b31919;
  margin-top: 0%;
  padding-top: 2%;
  display: flex;
}
.selectbar-form {
  display: inherit;
}
.selectbar-list__item {
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 1.5%;
  margin-top: -2%;
  border-right: 2px solid #ef5c5c;
  background-color: #b31919;
  color: #ffffff;
  text-decoration: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.selectbar-list__item:focus {
  outline: none;
}
.selectbar-list__item:nth-child(8) {
  border: none;
}
.selectbar-list__item:hover {
  background-color: rgb(115, 12, 12);
}
.selectbar-list__item.active {
  background-color: rgb(115, 12, 12);
  border-bottom: 2px solid #ef5c5c;
}
.tab-content__item {
  display: none;
}
