@import '../settings/settings.global';
@import '../tools/tools.mq';

.o-grid {
	display: grid;
	grid-column-gap: #{ $gutter * 2 }px;
	grid-row-gap: #{ $gutter * 2 }px;
	grid-template-columns: 1fr 1fr 1fr;

	@include mq( $phone ) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	@include mq( $tablet ) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	@include mq( $laptop ) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.o-grid-item {
	align-self: end;
	justify-self: center;
}